
canvas{
    background-color:lightgoldenrodyellow;
}

#canvas-wrapper{
    display: flex;
    width: 100%;
    height: 50%;
    padding-bottom: 50px;
    justify-content: space-around;
}

.name-container{
    margin: 10px 0;
    label{
        margin-right: 10px;
    }
}

.canvas-group{
    display: inline-block;
}

.table-group{
    padding-left: 50px;
    width: 100%;
}