@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="content">
    <div>
        User name:
        <input type="text" id="userName" />
    </div>

    <div id="canvas-wrapper">
        <canvas id="canvas"></canvas>
    </div>
</div>
<div class="table__wrapper">
    <table id="pointsTable">
        <tbody id="pointsTableBody">

        </tbody>
    </table>
</div>
