<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TestTaskBrio</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500&display=swap">
    <script src="https://use.fontawesome.com/1d9fd44359.js"></script>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <div class="wrapper">
        <nav class="nav_wrapper">
            <i class="fa fa-cog" aria-hidden="true"></i>
            <div class="nav__content">
                <input type="number" min="1" max="500" value="200" id="speed" />
                <button id="saveSettings">Save</button>
            </div>
        </nav>
        <div id="overlay"></div>
        <div class="main-container">
            <div class="main" role="main">
                @RenderBody()
            </div>
        </div>

    </div>
    <script src="~/js/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script type="module" src='~/js/app.js'></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
